.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  width: 300px;
}

.login-modal input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.login-modal button {
  padding: 8px 16px;
  background-color: #007aff;
  color: white;
  border: none;
  cursor: pointer;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333; /* Or white if dark background */
  font-size: 1.5rem;
  z-index: 1000;
}

.close-btn:hover {
  color: red;
}
